@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #3C4767;
}

.myicon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-position: left top;
}

/* accordion */
.accordion {
    max-width: 600px;
    margin-left: 80%;
}

.accordion a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000;
}

.accordion-title {
    display: block;
    margin: 0 0 4px 0;
    padding: 15px;
    line-height: 1;
    color: #fff;
    cursor: pointer;
}

input {
    display: none;
}

.accordion ul {
    margin: 0;
    padding: 0;
    background: white;
    list-style: none;
}

.accordion li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#accordion-title:checked~#accordion-content li {
    height: 54px;
    opacity: 1;
}


/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

/* side-bar */
#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
    font-size: 14px;
    height: auto;
    min-height: 839px;
    width: 20%;
    vertical-align: bottom;
    box-sizing: border-box;
    float: left;
}

#side-bar-confirm {
    border-bottom: 1px solid #D7D7D7;
}

#side-bar-confirm-follows #side-bar-confirm-followers {
    display: flex;
}

#side-bar-confirm-follow-list #side-bar-confirm-follower-list {
    margin: 13px 25px auto 126px;
}

.side-myname {
    margin: 10px 123px auto 10px;
    color: #6C6C6C;
}

.side-ffitem {
    margin: 10px 111px auto 22px;
    color: #6C6C6C;
}

.side-count {
    margin: 34px 0 auto 0;
    color: #6C6C6C;
}

.side-btn {
    display: inline-block;
    height: 43px;
    width: 138px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    line-height: 43px;
    color: #FFFFFF;
    background-color: #3C4767;
    border-color: #3C4767;
    margin: 10px 5px 25px auto;
}

#side-bar-search {
    margin: 17px 75px auto 75px;
}

/* 4.1 投稿フォームの設置 */
.post-area {
    height: auto;
    min-height: 750px;
    width: 80%;
    vertical-align: bottom;
    box-sizing: border-box;
    float: left;
}

.form-group {
    display: flex;
    width: 1360.5px;
    vertical-align: left;
    box-sizing: border-box;
    border-bottom: 5px solid #D7D7D7;
}

.form-group-image {
    margin: 28px 17px 28px 17px;
}

.form-icon {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-position: left top;
    border: 1px solid #81E5FF;
    margin: 18px;
}

.form-class {
    width: 100%;
}

.form-control {
    width: 100%;
    height: 5vw;
    border: 0px;
}

.form-send-icon {
    margin-left: 60vw;
    border: none;
    background: transparent;
}
