@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #3C4767;
}

/* accordion */
.accordion {
    max-width: 600px;
    margin-left: 80%;
}

.accordion a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000;
}

.accordion-title {
    display: block;
    margin: 0 0 4px 0;
    padding: 15px;
    line-height: 1;
    color: #fff;
    cursor: pointer;
}

input {
    display: none;
}

.accordion ul {
    margin: 0;
    padding: 0;
    background: white;
    list-style: none;
}

.accordion li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#accordion-title:checked~#accordion-content li {
    height: 54px;
    opacity: 1;
}


/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}
